.user-info {
  background-color: lightsalmon;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  &.history {
    width: 200px;
    height: 100px;
    align-items: center;
  }
}

.user-info-extra {
  background-color: sandybrown;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
}